<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<h1 th:text="${title}"></h1>
		<hr>
		<h2 th:text="${subTitle}"></h2>
		<h2>********************************</h2>

        <div class="card bg-light">
            <div class="card-header" th:text="${title}"></div>
            <div class="card-body">

                <h4 class="card-title">
                    <a th:href="@{'/clientes/detalle/' + ${invoice.client.id}}" class="btn btn-secondary btn-sm" th:text="#{text.global.return}"></a>
                    <a th:href="@{'/facturas/detalle/' + ${invoice.id}(format=pdf)}" class="btn btn-danger btn-sm float-right mx-2" target="_blank">PDF</a>
                    <a th:href="@{'/facturas/detalle/' + ${invoice.id}(format=xlsx)}" class="btn btn-success btn-sm float-right">Excel</a>
                </h4>

                <ul class="list-group my-2">
                    <li class="list-group-item list-group-item-primary"
                        th:text="#{text.global.clientData}"></li>
                    <li class="list-group-item" th:text="${invoice.client.name} + ' ' + ${invoice.client.lastname}"></li>
                    <li class="list-group-item" th:text="${invoice.client.email}"></li>
                </ul>

                <ul class="list-group">
                    <li class="list-group-item list-group-item-success"
                        th:text="#{text.global.invoiceData}"></li>
                    <li class="list-group-item" th:text="#{text.global.invoice} + ': ' + ${invoice.id}"></li>
                    <li class="list-group-item" th:text="#{text.global.description} + ': ' + ${invoice.description}"></li>
                    <li class="list-group-item" th:text="#{text.global.date} + ': ' + ${invoice.createdAt}"></li>
                </ul>

                <table class="table table-striped table-hover table-bordered my-3">
                    <thead>
                        <tr>
                            <th th:text="#{text.global.product}"></th>
                            <th th:text="#{text.global.amount}"></th>
                            <th th:text="#{text.global.quantity}"></th>
                            <th th:text="#{text.global.total}"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="line: ${invoice.items}">
                            <td th:text="${line.product.name}"></td>
                            <td th:text="${line.product.amount}"></td>
                            <td th:text="${line.quantity}"></td>
                            <td th:text="${line.calculateAmount()}"></td>
                        </tr>
                    </tbody>
                </table>

                <h5 class="float-right" th:text="#{text.global.grandTotal} + ' '"><span th:text="${invoice.total}" class="badge badge-secondary"></span></h5>

                <div class="card border-info my-4" style="max-width: 20rem;">
                    <div class="card-header" th:text="#{text.global.observations}"></div>
                    <div class="card-body">
                        <p th:if="${not #strings.isEmpty((invoice.observation))}" class="card-text" th:text="${invoice.observation}"></p>
                        <p th:if="${#strings.isEmpty((invoice.observation))}" class="card-title" th:text="#{text.global.noObservations}"></p>
                    </div>
                </div>

            </div>
        </div>
		
		<section th:replace="layout/layout :: message"></section>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>