<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<h1 th:text="${title}"></h1>
		<hr>
		<h2 th:text="${subTitle}"></h2>
		<h2>********************************</h2>

		<form th:action="@{/clientes/form}" th:object="${client}" method="post" enctype="multipart/form-data" style="max-width: 600px; padding: 20px;" class="card">
			<div class="form-group">
				<label class="col-form-label" for="name">Nombre</label>
				<input type="text" th:field="*{name}" class="form-control" id="name" th:errorclass="'is-invalid'" />
				<div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
			</div>
			<div class="form-group">
				<label class="col-form-label" for="lastname">Apellido</label>
				<input type="text" th:field="*{lastname}" class="form-control" id="lastname"
					th:errorclass="'is-invalid'" />
				<div class="text-danger" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></div>
			</div>
			<div class="form-group">
				<label class="col-form-label" for="email">Email</label>
				<input type="email" th:field="*{email}" class="form-control" id="email" th:errorclass="'is-invalid'" />
				<div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
			</div>
			<br>
			<div class="form-group">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
					  <span class="input-group-text" id="inputGroupFileAddon01">Subir imagen</span>
					</div>
					<div class="custom-file">
					  <input type="file" name="file" class="custom-file-input" id="file" accept="image/*" aria-describedby="inputGroupFileAddon01">
					  <label class="custom-file-label" for="file"></label>
					</div>
				  </div>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Guardar</button>
				<a th:href="@{/clientes/listar}" class="btn btn-secondary" th:text="'Volver al listado'"></a>
			</div>
		</form>
		
		<section th:replace="layout/layout :: message"></section>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>