<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<h1 th:text="${title}"></h1>
		<hr>
		<h2 th:text="${subTitle}"></h2>
		<h2>********************************</h2>
		<!-- <span th:if="${clients.size() <= 0}">No se registran clientes en la base de datos</span> -->
		<!-- <table th:if="${clients.size() > 0}" class="table table-striped"> -->
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Email</th>
					<th>Registrado el</th>
					<th>Crear Factura</th>
					<th>Editar</th>
					<th>Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="client: ${clients}">
					<td><a th:href="@{/clientes/detalle/} + ${client.id}" class="btn btn-info btn-sm" th:text="${client.id}"></a></td>
					<td th:text="${client.name}"></td>
					<td th:text="${client.lastname}"></td>
					<td th:text="${client.email}"></td>
					<td th:text="${client.createdAt}"></td>
					<td><a th:href="@{'/facturas/form/' + ${client.id}}" class="btn btn-primary btn-sm">Crear Factura</a></td>
					<td><a th:href="@{/clientes/form/} + ${client.id}" class="btn btn-success btn-sm">Editar</a></td>
					<td><a th:href="@{/clientes/eliminar/} + ${client.id}" class="btn btn-danger btn-sm">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>

		<nav th:replace="paginator :: paginator"></nav>
		
		<section th:replace="layout/layout :: message"></section>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>